<section class="container-contact">
  <form
    name="contact"
    method="post"
    data-netlify = "true"
    #contactForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <h3>Contact</h3>
    <div>
      <label for="last_name">Nom:</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        [(ngModel)]="contact.lastName"
        required
        placeholder="Parker"
      />
      <label for="first_name">Prénom:</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        [(ngModel)]="contact.firstName"
        required
        placeholder="Peter"
      />
    </div>
    <div></div>
    <div>
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="contact.email"
        required
        email
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        placeholder="parker.peter@gmail.com"
      />
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea
        name="message"
        id="message"
        placeholder="Vôtre message ..."
        [(ngModel)]="contact.message"
        required
      ></textarea>
    </div>
    <button type="submit" [disabled]="contactForm.invalid">Envoyer</button>
  </form>
</section>
