<header>
  <div class="container">
    <h1>{{ title }}</h1>
    <nav [class.active]="active" (click)="closeNavbar()">
      <a href="#">ACCUEIL</a>
      <a href="#mes-competences">COMPETENCES</a>
      <a href="#mes-projets">PROJETS</a>
      <!--      <a href="#contact">CONTACT</a>-->
    </nav>
    <div class="burger-container" (click)="toggleNavbar()">
      @if (!active) {
      <i class="fa-solid fa-bars"></i>
      } @else {
      <i class="fa-solid fa-x"></i>
      }
    </div>
  </div>
</header>
