<div class="container-hero-section">
  <div class="title">
    <h2>Hello, je suis </h2>
    <h3>Gregory</h3>
    <h5>Développeur web et web mobile</h5>
    <div class="contact-container">
      <a href="https://www.linkedin.com/in/gregory-tahir-6858b3249/" target="_blank">
        <fa-icon class="fa-icon" [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://github.com/kyoshiroDev" target="_blank">
        <fa-icon class="fa-icon" [icon]="faSquareGithub"></fa-icon>
      </a>
    </div>
  </div>
  <div class="img">
    <img src="assets/Images/hero-section.png" alt="ordianteur" class="computer-img">
  </div>
</div>
