.container-hero-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: #fff;
  margin-top: 80px;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

h2 {
  font-size: 5em;
  margin: 10px;
}

h3 {
  font-size: 7em;
  margin: 10px;
}

h5 {
  font-size: 2.7em;
  margin: 10px;
  color: #2272ff;
}

/* Contact */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 10px;
}

.contact-container a {
  font-size: 3.5em;
}

.fa-icon {
  color: #2272ff;
  cursor: pointer;
  padding-right: 20px;
}

.fa-icon:hover {
  color: #4886f4;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.computer-img {
  max-width: 75%;
}

@media screen and (min-width: 950px) {
  .container-hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
  }

  h2, h3, h5, h6 {
    padding: 10px 0 0 0;
  }

  .contact-container {
    justify-content: flex-start;
    margin: 30px 0 0 0;
  }

  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .computer-img {
    min-width: 100%;
    margin-top: 80px;
  }
}
