<div class="container">
  <div class="about-container">
    <img src="./assets/Images/photo-de-profile.png" alt="image-de-profile">
    <div class="img-text-container">
      <h2>Salut,</h2>
      <p>Je suis <b>Grégory</b>, Développeur web passionné par les nouvelles technologies
        et le framework Angular.
      </p>
      <div class="container-myinfo">
        <ul>
          <li><strong>Nom:</strong> Grégory Tahir</li>
          <li><strong>JOB:</strong>Développeur web et web mobile</li>
          <li><strong>Age:</strong>37 Ans</li>
          <li><strong>Ville:</strong>Essonnes, Île-de-France</li>
        </ul>
      </div>
      <div class="button-cv">
        <a href="assets/Cv.pdf" download="Cv Tahir Gregory.pdf">{{ contact.cv }}</a>
      </div>
      <div id="mes-competences"></div>
    </div>
  </div>
</div>


