<section class="container-competences">
  <h3>Mes Compétences</h3>
  <div class="container-front-back">
    <p>Front-End</p>
    <div class="container-competences-img-front">
      <img src="assets/Images/html.svg" alt="logo-html5">
      <img src="assets/Images/css.svg" alt="logo-css3">
      <img src="assets/Images/bootstrap.svg" alt="logo-bootstrap">
      <img src="assets/Images/js.svg" alt="logo-javascript">
      <img src="assets/Images/angular.svg" alt="logo-angular">
    </div>
    <p>Back-End</p>
    <div class="container-competences-img-back">
      <img src="assets/Images/php.svg" alt="logo-php">
      <img src="assets/Images/mysql.svg" alt="logo-mysql">
      <img src="assets/Images/docker.svg" alt="logo-docker">
      <img src="assets/Images/symfony.svg" alt="logo-symfony">
    </div>
    <div id="mes-projets"></div>
  </div>
</section>

